Load the Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np

Load the DataSet

In [2]:
# reading ratings file:
colms=['user_id', 'movie_id', 'rating', 'unix_timestamp']
dataset=pd.read_csv('ml-100k/u.data',sep='\t', names= colms,encoding='latin-1')
dataset

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [3]:
n_users=dataset.user_id.unique().shape[0]
n_items=dataset.movie_id.unique().shape[0]

In [4]:
print("The number of user:",n_users)
print("The number of n_items:",n_items)

The number of user: 943
The number of n_items: 1682

Create pivot table for user and movie based on ratings

In [5]:
datama=dataset.pivot_table(index='user_id',columns='movie_id',values='rating')
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Replace with nan with 0
data_matrix=datama.replace(np.nan,0)
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Find Cosine Similatity for user and Item

In [7]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity=pairwise_distances(data_matrix, metric='cosine')
item_similarity=pairwise_distances(data_matrix.T, metric='cosine')

In [8]:
item_similarity

array([[0.00000000e+00, 5.97617822e-01, 6.69755213e-01, ...,
        1.00000000e+00, 9.52816933e-01, 9.52816933e-01],
       [5.97617822e-01, 1.11022302e-16, 7.26930825e-01, ...,
        1.00000000e+00, 9.21700637e-01, 9.21700637e-01],
       [6.69755213e-01, 7.26930825e-01, 0.00000000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 9.03124947e-01],
       ...,
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [9.52816933e-01, 9.21700637e-01, 1.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [9.52816933e-01, 9.21700637e-01, 9.03124947e-01, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

Using formula for user and item we are calcuating the score value

In [9]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        mean_user_rating=np.array(mean_user_rating)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [10]:
user_prediction=predict(data_matrix, user_similarity, type='user')
item_prediction=predict(data_matrix, item_similarity, type='item')
item_prediction

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.446278,0.475473,0.505938,0.443633,0.512667,0.547939,0.446243,0.463059,0.474916,0.515821,...,0.580579,0.576202,0.582478,0.582478,0.575717,0.588155,0.588155,0.588155,0.573107,0.566696
2,0.108544,0.132957,0.125589,0.124932,0.131178,0.129005,0.110883,0.122223,0.109599,0.121525,...,0.135490,0.136546,0.134829,0.134829,0.134108,0.134458,0.134458,0.134458,0.136576,0.137111
3,0.085685,0.091690,0.087643,0.089966,0.089658,0.089985,0.083492,0.089725,0.085188,0.088331,...,0.089770,0.090506,0.086261,0.086261,0.089201,0.084659,0.084659,0.084659,0.089768,0.090845
4,0.053693,0.059604,0.058114,0.058364,0.059356,0.061472,0.053374,0.058615,0.055905,0.060601,...,0.061349,0.061686,0.061195,0.061195,0.060693,0.057937,0.057937,0.057937,0.061673,0.062281
5,0.224739,0.229171,0.263280,0.226387,0.259973,0.296529,0.232710,0.237109,0.258581,0.275076,...,0.297628,0.295990,0.299922,0.299922,0.298188,0.302051,0.302051,0.302051,0.293373,0.294309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.092574,0.113870,0.110211,0.112040,0.112768,0.123140,0.098578,0.110839,0.098858,0.118579,...,0.123829,0.124430,0.120776,0.120776,0.121360,0.125056,0.125056,0.125056,0.123470,0.124327
940,0.164358,0.184894,0.196502,0.164884,0.195860,0.209652,0.162840,0.165606,0.171761,0.194536,...,0.217536,0.215515,0.219136,0.219136,0.216173,0.218583,0.218583,0.218583,0.216582,0.216819
941,0.032300,0.045024,0.042924,0.043223,0.047493,0.051077,0.032761,0.042646,0.039399,0.047421,...,0.052762,0.053042,0.052692,0.052692,0.051514,0.053028,0.053028,0.053028,0.051910,0.052280
942,0.157779,0.174095,0.189000,0.163514,0.186140,0.194151,0.164910,0.156970,0.167038,0.181295,...,0.197537,0.194479,0.198479,0.198479,0.197969,0.199793,0.199793,0.199793,0.197394,0.200031
943,0.247672,0.244892,0.282630,0.241440,0.279338,0.335121,0.250015,0.263325,0.273579,0.313885,...,0.336816,0.338652,0.338585,0.338585,0.336956,0.344104,0.344104,0.344104,0.330514,0.331025

As per User based filtering ,first have to find similarity between the input user and others

In [11]:
#1. Select input user

input_item= 45

In [12]:
#2. Convert the item_sim table into DataFrame

item_simi_table=pd.DataFrame(item_similarity)
item_simi_table

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,5.976178e-01,0.669755,0.545062,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.0,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,0.597618,1.110223e-16,0.726931,0.497429,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,0.669755,7.269308e-01,0.000000,0.675134,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.0,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,0.545062,4.974292e-01,0.675134,0.000000,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.0,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,0.713286,6.811638e-01,0.787043,0.665761,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1678,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1679,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1680,0.952817,9.217006e-01,1.000000,0.943587,1.000000,1.000000,0.948502,0.917967,0.942640,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.000000,1.000000
1681,0.952817,9.217006e-01,0.903125,0.924782,0.905789,1.000000,0.948502,1.000000,0.928300,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.000000

In [13]:
#3. Find similarity item for 45 using cosine table

similar_input_item=item_simi_table[input_item].sort_values(ascending=True).head(5).index
similar_input_item

Index([45, 714, 1069, 959, 771], dtype='int64')

In [14]:
#4.Convert in to list

similar_input_item=list(similar_input_item)

In [15]:
#5. Using similar_item_input,can select user id from ratings table

similar_item_userid_list=[]
for simi in similar_input_item:
    sim=list(dataset[dataset['movie_id']==simi]['user_id'])
    similar_item_userid_list.append(sim)

In [16]:
len(similar_item_userid_list)

5

In [17]:
print(similar_item_userid_list)

[[94, 58, 189, 13, 106, 214, 72, 80, 200, 344, 308, 85, 59, 204, 296, 429, 90, 321, 339, 457, 18, 360, 491, 487, 514, 503, 585, 251, 561, 500, 239, 607, 474, 539, 658, 405, 707, 664, 435, 138, 799, 1, 452, 773, 535, 234, 407, 492, 805, 553, 358, 571, 855, 591, 918, 796, 894, 883, 409, 828, 870, 840, 844, 806, 930, 354, 633, 207, 305, 861, 201, 862, 878, 838, 932, 655, 299, 537, 875, 293], [271, 11, 270, 405, 503, 500, 450, 861, 409, 18, 537, 354, 639], [264, 58, 387, 327, 201, 561, 537, 385, 249, 655, 435, 846, 773, 405, 500, 49, 523, 889], [49, 259, 234, 308, 64, 269, 130, 299, 363, 399, 314, 405, 347, 416, 244, 378, 327, 198, 262, 276, 457, 346, 445, 551, 62, 456, 385, 561, 655, 618, 537, 566, 301, 478, 642, 588, 453, 773, 380, 666, 682, 94, 542, 336, 758, 843, 711, 606, 59, 747, 870, 916, 790, 476, 643, 709, 267, 493, 886, 805, 645, 889, 933, 18], [256, 286, 269, 301, 267, 381, 195, 405, 200, 320, 145, 450, 102, 280, 497, 276, 472, 393, 532, 757, 92, 13, 790, 660, 795, 804, 805, 394, 600, 889, 934, 325, 496, 727, 642, 130, 417, 653, 893, 880, 826]]

In [18]:
#6. Convert all the userid list as single

import itertools
similar_item_userid_single_list=list(itertools.chain.from_iterable(similar_item_userid_list))
len(similar_item_userid_single_list)

216

In [19]:
#7. Unique userid from the list

unique_userid_similar_item=set(similar_item_userid_single_list)
len(unique_userid_similar_item)

168

In [20]:
#8. Input user watched item_list

input_item_watched_userid=list(dataset[dataset['movie_id']==input_item]['user_id'].values)
len(input_item_watched_userid)

80

In [21]:
#9. Create a list which should have recom userid to the input item

recom=[]
for id in unique_userid_similar_item:
    if (id in input_item_watched_userid):
        pass
    else:
        recom.append(id)

In [22]:
len(recom)

88

In [23]:
sorted(recom)

[11,
 49,
 62,
 64,
 92,
 102,
 130,
 145,
 195,
 198,
 244,
 249,
 256,
 259,
 262,
 264,
 267,
 269,
 270,
 271,
 276,
 280,
 286,
 301,
 314,
 320,
 325,
 327,
 336,
 346,
 347,
 363,
 378,
 380,
 381,
 385,
 387,
 393,
 394,
 399,
 416,
 417,
 445,
 450,
 453,
 456,
 472,
 476,
 478,
 493,
 496,
 497,
 523,
 532,
 542,
 551,
 566,
 588,
 600,
 606,
 618,
 639,
 642,
 643,
 645,
 653,
 660,
 666,
 682,
 709,
 711,
 727,
 747,
 757,
 758,
 790,
 795,
 804,
 826,
 843,
 846,
 880,
 886,
 889,
 893,
 916,
 933,
 934]

In [24]:
# Cross Checking 
sorted(unique_userid_similar_item)

[1,
 11,
 13,
 18,
 49,
 58,
 59,
 62,
 64,
 72,
 80,
 85,
 90,
 92,
 94,
 102,
 106,
 130,
 138,
 145,
 189,
 195,
 198,
 200,
 201,
 204,
 207,
 214,
 234,
 239,
 244,
 249,
 251,
 256,
 259,
 262,
 264,
 267,
 269,
 270,
 271,
 276,
 280,
 286,
 293,
 296,
 299,
 301,
 305,
 308,
 314,
 320,
 321,
 325,
 327,
 336,
 339,
 344,
 346,
 347,
 354,
 358,
 360,
 363,
 378,
 380,
 381,
 385,
 387,
 393,
 394,
 399,
 405,
 407,
 409,
 416,
 417,
 429,
 435,
 445,
 450,
 452,
 453,
 456,
 457,
 472,
 474,
 476,
 478,
 487,
 491,
 492,
 493,
 496,
 497,
 500,
 503,
 514,
 523,
 532,
 535,
 537,
 539,
 542,
 551,
 553,
 561,
 566,
 571,
 585,
 588,
 591,
 600,
 606,
 607,
 618,
 633,
 639,
 642,
 643,
 645,
 653,
 655,
 658,
 660,
 664,
 666,
 682,
 707,
 709,
 711,
 727,
 747,
 757,
 758,
 773,
 790,
 795,
 796,
 799,
 804,
 805,
 806,
 826,
 828,
 838,
 840,
 843,
 844,
 846,
 855,
 861,
 862,
 870,
 875,
 878,
 880,
 883,
 886,
 889,
 893,
 894,
 916,
 918,
 930,
 932,
 933,
 934]

In [25]:
# Checking the common user list

list(set(unique_userid_similar_item)&set(input_item_watched_userid))

[1,
 514,
 13,
 18,
 535,
 537,
 539,
 553,
 561,
 58,
 59,
 571,
 72,
 585,
 591,
 80,
 85,
 90,
 94,
 607,
 106,
 633,
 138,
 655,
 658,
 664,
 189,
 707,
 200,
 201,
 204,
 207,
 214,
 234,
 239,
 251,
 773,
 796,
 799,
 805,
 806,
 293,
 296,
 299,
 305,
 308,
 828,
 321,
 838,
 840,
 844,
 339,
 855,
 344,
 861,
 862,
 354,
 358,
 870,
 360,
 875,
 878,
 883,
 894,
 405,
 918,
 407,
 409,
 930,
 932,
 429,
 435,
 452,
 457,
 474,
 487,
 491,
 492,
 500,
 503]

In [26]:
item_pred=pd.DataFrame(item_prediction)
item_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.446278,0.475473,0.505938,0.443633,0.512667,0.547939,0.446243,0.463059,0.474916,0.515821,...,0.580579,0.576202,0.582478,0.582478,0.575717,0.588155,0.588155,0.588155,0.573107,0.566696
2,0.108544,0.132957,0.125589,0.124932,0.131178,0.129005,0.110883,0.122223,0.109599,0.121525,...,0.135490,0.136546,0.134829,0.134829,0.134108,0.134458,0.134458,0.134458,0.136576,0.137111
3,0.085685,0.091690,0.087643,0.089966,0.089658,0.089985,0.083492,0.089725,0.085188,0.088331,...,0.089770,0.090506,0.086261,0.086261,0.089201,0.084659,0.084659,0.084659,0.089768,0.090845
4,0.053693,0.059604,0.058114,0.058364,0.059356,0.061472,0.053374,0.058615,0.055905,0.060601,...,0.061349,0.061686,0.061195,0.061195,0.060693,0.057937,0.057937,0.057937,0.061673,0.062281
5,0.224739,0.229171,0.263280,0.226387,0.259973,0.296529,0.232710,0.237109,0.258581,0.275076,...,0.297628,0.295990,0.299922,0.299922,0.298188,0.302051,0.302051,0.302051,0.293373,0.294309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.092574,0.113870,0.110211,0.112040,0.112768,0.123140,0.098578,0.110839,0.098858,0.118579,...,0.123829,0.124430,0.120776,0.120776,0.121360,0.125056,0.125056,0.125056,0.123470,0.124327
940,0.164358,0.184894,0.196502,0.164884,0.195860,0.209652,0.162840,0.165606,0.171761,0.194536,...,0.217536,0.215515,0.219136,0.219136,0.216173,0.218583,0.218583,0.218583,0.216582,0.216819
941,0.032300,0.045024,0.042924,0.043223,0.047493,0.051077,0.032761,0.042646,0.039399,0.047421,...,0.052762,0.053042,0.052692,0.052692,0.051514,0.053028,0.053028,0.053028,0.051910,0.052280
942,0.157779,0.174095,0.189000,0.163514,0.186140,0.194151,0.164910,0.156970,0.167038,0.181295,...,0.197537,0.194479,0.198479,0.198479,0.197969,0.199793,0.199793,0.199793,0.197394,0.200031
943,0.247672,0.244892,0.282630,0.241440,0.279338,0.335121,0.250015,0.263325,0.273579,0.313885,...,0.336816,0.338652,0.338585,0.338585,0.336956,0.344104,0.344104,0.344104,0.330514,0.331025

In [27]:
item_pred[input_item]

user_id
1      0.530406
2      0.137053
3      0.091701
4      0.062413
5      0.279909
         ...
939    0.126500
940    0.205841
941    0.051243
942    0.193048
943    0.312780
Name: 45, Length: 943, dtype: float64

In [28]:
# From recomd list select hightest rated film which would like by the user. Based on item prediction

highest_rated=[]
input_item_pre=pd.DataFrame(item_pred[input_item])
input_item_pred=input_item_pre.T
for re in recom:
    value=input_item_pred[re].values
    if (value>=0.8):
        highest_rated.append(re)

In [29]:
len(highest_rated)

6

In [30]:
highest_rated

[130, 276, 846, 393, 416, 450]

In [31]:
list(set(recom)&set(input_item_watched_userid))

[]

In [32]:
def itembased(input_item,item_similarity,item_predictions,similar_item_count,thres):
    #Convert the user_sim table into DataFrame
    item_sim_table=pd.DataFrame(item_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_item= item_sim_table[input_item].sort_values(ascending=True).head(similar_item_count).index
    #Convert in to list
    similar_item_input=list(similar_input_item) 
    #Using similar_user_input,can select movie id from ratings table
    similar_item_userid_list=[]
    for sim_item in similar_item_input:
        sim=list(dataset[dataset['movie_id']==sim_item]['user_id'])
        similar_item_userid_list.append(sim)
    #Converting as a whole list
    import itertools
    similar_item_userid_single_list=list(itertools.chain.from_iterable(similar_item_userid_list))
    #Unique movieid from the list
    Unique_userid_similar_item=set(similar_item_userid_single_list)
    #Input user watched movie_list
    input_item_watched_userid=list(dataset[dataset['movie_id']==input_item]['user_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in Unique_userid_similar_item:
        if(per_id in input_item_watched_userid):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_Rated=[]
    user_pred=pd.DataFrame(item_prediction)
    input_item_pre=pd.DataFrame(user_pred[input_item])
    input_item_pred=input_item_pre.T
    for re in recom:
        value=input_item_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)
    highest_Rated
    return highest_Rated

In [33]:
#def userbased(input_user,user_similarity,user_predictions,similar_user_count,similar_user_movieid_count,thres):
Recommended_user=itembased(5,item_similarity,item_pred,5,0.8)

In [34]:
len(Recommended_user)

4

In [35]:
Recommended_user

[59, 279, 416, 450]