In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
item=pd.read_csv('ml-100k/u.item',sep='|', names=i_cols, encoding='latin-1')
item.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
# Select only needed Item
movie_content=item[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [4]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [5]:
#read the ratings dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
rating = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')
rating

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [6]:
#check
rating[rating['user_id']==120][['movie_id','rating']]

       movie_id  rating
1740        546       2
5089        282       4
5433         25       5
7704          9       4
8402        257       2
10603       924       4
11113       405       4
15459       245       3
15561       286       5
16824       252       3
18879       148       3
19966       125       4
22461        15       4
25247       258       5
27412       121       4
30092       117       3
34463       237       3
35188         1       4
35420       827       2
37429       742       4
67850       127       4
71918       744       4
77016       508       2
86986       515       5
89514       118       2
95889        50       4

In [7]:
# Create Pivot Table  which will act as user vector
datama=rating.pivot_table(index='user_id',columns='movie_id', values='rating')

In [8]:
#Replace with nan with 0
data_matrix=datama.replace(np.nan,0)
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# User Vector

user_vector=data_matrix.T
user_vector

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
2,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Create movie Vector

movie_vec=item[['Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [11]:
movie_vec

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [12]:
movie_vec.index=range(1,1683)

In [13]:
movie_vector=movie_vec.T
movie_vector

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Children's,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
Crime,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
Sci-Fi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
War,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Flow Check

Create the content vector(user_vector and Item Vector)

In [14]:
# check for user1

u1=rating[rating['user_id']==1][['movie_id','rating']]
u1

       movie_id  rating
202          61       4
305         189       3
333          33       4
334         160       4
478          20       4
...         ...     ...
92049        28       4
92487       172       5
94019       122       3
96699       152       5
99073        94       2

[272 rows x 2 columns]

In [15]:
# Create the content list for user based on movie_vector
u1_list=[]
for i in u1['movie_id']:
    f=movie_vector[i].values
    u1_list.append(f)

In [16]:
# Create the content list for user based on movie_vector

uu1= pd.DataFrame(u1_list, columns=range(1,19))
uu1

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
1     0   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
2     1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   1   0   0
3     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
267   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0
268   1   1   0   0   0   0   0   1   0   0   0   0   0   1   1   0   1   0
269   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
270   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0
271   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0

[272 rows x 18 columns]

In [17]:
# Create single vector for one user by summing the each genre column

vec=[]
for i in range(1,19):
    g=sum(uu1[i])
    vec.append(g/272)

In [18]:
# single user 
vec

[0.2757352941176471,
 0.15441176470588236,
 0.04411764705882353,
 0.09191176470588236,
 0.33455882352941174,
 0.09191176470588236,
 0.01838235294117647,
 0.39338235294117646,
 0.007352941176470588,
 0.003676470588235294,
 0.04779411764705882,
 0.04779411764705882,
 0.01838235294117647,
 0.16176470588235295,
 0.15808823529411764,
 0.19117647058823528,
 0.09191176470588236,
 0.022058823529411766]

In [19]:
s=sum(uu1[2])
s

42

In [20]:
# Create a vector list for whole user with to movie vector

vector=[]
for user in range(1,944):
    u1=rating[rating['user_id']==user][['movie_id','rating']]
    u1_list=[]
    for i in u1['movie_id']:
        f=movie_vector[i].values
        u1_list.append(f)
    uu1=pd.DataFrame(u1_list, columns= range(1,19))
    vec=[]
    for j in range(1,19):
        g=sum(uu1[j])
        vec.append(g/len(u1))
        vector.append(vec)

In [26]:
# function

def user_vector(ratings,movie_vector):
    vector=[]
    for user in range(1,944): # Each user id to create vector
        u1=ratings[ratings['user_id']==user][['movie_id','rating']]  
        u1_list=[]
        for i in u1['movie_id']: # Each user watched movie genre vector
            f=movie_vector[i].values
            u1_list.append(f)
        uu1=pd.DataFrame(u1_list,columns=range(1,19))
        vec=[]
        for j in range(1,19): # Sum up the each genre of the user
            g=sum(uu1[j])
            vec.append(g/len(u1))
        vector.append(vec)
    return vector

In [27]:
vector=user_vector(rating, movie_vector)

In [30]:
users_vector=pd.DataFrame(vector)
users_vector

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.275735,0.154412,0.044118,0.091912,0.334559,0.091912,0.018382,0.393382,0.007353,0.003676,0.047794,0.047794,0.018382,0.161765,0.158088,0.191176,0.091912,0.022059
1,0.161290,0.048387,0.016129,0.064516,0.258065,0.145161,0.000000,0.564516,0.016129,0.032258,0.032258,0.016129,0.064516,0.258065,0.064516,0.193548,0.048387,0.000000
2,0.259259,0.074074,0.000000,0.000000,0.222222,0.185185,0.018519,0.407407,0.000000,0.037037,0.092593,0.037037,0.203704,0.092593,0.148148,0.388889,0.092593,0.000000
3,0.333333,0.166667,0.000000,0.000000,0.166667,0.166667,0.041667,0.250000,0.000000,0.000000,0.041667,0.041667,0.208333,0.125000,0.250000,0.458333,0.083333,0.000000
4,0.320000,0.188571,0.080000,0.165714,0.468571,0.051429,0.000000,0.154286,0.011429,0.005714,0.160000,0.068571,0.017143,0.108571,0.188571,0.108571,0.080000,0.011429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.367347,0.204082,0.020408,0.020408,0.306122,0.061224,0.000000,0.367347,0.020408,0.000000,0.020408,0.020408,0.020408,0.204082,0.163265,0.244898,0.061224,0.000000
939,0.214953,0.112150,0.018692,0.046729,0.392523,0.065421,0.000000,0.448598,0.000000,0.028037,0.037383,0.065421,0.028037,0.224299,0.177570,0.186916,0.140187,0.000000
940,0.454545,0.318182,0.136364,0.090909,0.318182,0.045455,0.000000,0.227273,0.000000,0.000000,0.000000,0.045455,0.045455,0.045455,0.363636,0.318182,0.045455,0.000000
941,0.227848,0.139241,0.050633,0.164557,0.278481,0.000000,0.000000,0.392405,0.025316,0.012658,0.037975,0.063291,0.113924,0.215190,0.075949,0.253165,0.126582,0.037975
942,0.380952,0.208333,0.011905,0.053571,0.333333,0.107143,0.000000,0.339286,0.011905,0.000000,0.083333,0.023810,0.017857,0.196429,0.130952,0.208333,0.089286,0.053571

In [32]:
#Check The shape

users_vector.shape

(943, 18)

In [33]:
#Check The shape

movie_vector.shape

(18, 1682)

In [38]:
# Dot matrix for  user_vector and movie_vetcor

content_vec=np.dot(users_vector,movie_vector)

In [45]:
# Data Frame  for content vector

content_vector=pd.DataFrame(content_vec)
content_vector

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.470588,0.621324,0.191176,1.003676,0.676471,0.393382,0.551471,0.819853,0.393382,0.485294,...,0.466912,0.393382,0.393382,0.393382,0.393382,0.393382,0.352941,0.555147,0.334559,0.393382
1,0.338710,0.403226,0.193548,0.983871,0.903226,0.564516,0.629032,0.887097,0.564516,0.612903,...,0.354839,0.564516,0.564516,0.564516,0.564516,0.564516,0.451613,0.822581,0.258065,0.564516
2,0.222222,0.722222,0.388889,0.888889,0.981481,0.407407,0.555556,0.629630,0.407407,0.500000,...,0.648148,0.407407,0.407407,0.407407,0.407407,0.407407,0.481481,0.500000,0.222222,0.407407
3,0.166667,0.958333,0.458333,0.750000,0.875000,0.250000,0.500000,0.416667,0.250000,0.333333,...,0.791667,0.250000,0.250000,0.250000,0.250000,0.250000,0.583333,0.375000,0.166667,0.250000
4,0.714286,0.617143,0.108571,0.942857,0.314286,0.154286,0.342857,0.788571,0.154286,0.234286,...,0.428571,0.154286,0.154286,0.154286,0.154286,0.154286,0.217143,0.262857,0.468571,0.154286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.346939,0.816327,0.244898,1.040816,0.673469,0.367347,0.530612,0.693878,0.367347,0.428571,...,0.612245,0.367347,0.367347,0.367347,0.367347,0.367347,0.448980,0.571429,0.306122,0.367347
939,0.457944,0.514019,0.186916,1.056075,0.700935,0.448598,0.626168,0.887850,0.448598,0.588785,...,0.401869,0.448598,0.448598,0.448598,0.448598,0.448598,0.411215,0.672897,0.392523,0.448598
940,0.545455,1.090909,0.318182,1.000000,0.590909,0.227273,0.590909,0.636364,0.227273,0.272727,...,0.772727,0.227273,0.227273,0.227273,0.227273,0.227273,0.363636,0.272727,0.318182,0.227273
941,0.493671,0.620253,0.253165,0.898734,0.645570,0.392405,0.468354,0.835443,0.392405,0.518987,...,0.481013,0.392405,0.392405,0.392405,0.392405,0.392405,0.468354,0.607595,0.278481,0.392405
942,0.398810,0.797619,0.208333,1.053571,0.654762,0.339286,0.470238,0.726190,0.339286,0.428571,...,0.589286,0.339286,0.339286,0.339286,0.339286,0.339286,0.404762,0.535714,0.333333,0.339286

In [44]:
# Tranpose for the user vector access

content_vectors=content_vector.T
content_vectors

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,0.470588,0.338710,0.222222,0.166667,0.714286,0.454976,0.339950,0.220339,0.272727,0.336957,...,0.482759,0.282051,0.373239,0.375,0.518519,0.346939,0.457944,0.545455,0.493671,0.398810
1,0.621324,0.403226,0.722222,0.958333,0.617143,0.336493,0.570720,1.254237,0.545455,0.396739,...,0.482759,0.871795,0.478873,0.325,0.777778,0.816327,0.514019,1.090909,0.620253,0.797619
2,0.191176,0.193548,0.388889,0.458333,0.108571,0.113744,0.191067,0.305085,0.227273,0.184783,...,0.120690,0.282051,0.197183,0.100,0.296296,0.244898,0.186916,0.318182,0.253165,0.208333
3,1.003676,0.983871,0.888889,0.750000,0.942857,0.924171,0.816377,1.118644,0.954545,0.831522,...,0.971264,1.076923,1.007042,1.075,0.990741,1.040816,1.056075,1.000000,0.898734,1.053571
4,0.676471,0.903226,0.981481,0.875000,0.314286,0.672986,0.632754,0.745763,0.727273,0.711957,...,0.563218,0.820513,0.767606,0.775,0.648148,0.673469,0.700935,0.590909,0.645570,0.654762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.393382,0.564516,0.407407,0.250000,0.154286,0.492891,0.362283,0.288136,0.500000,0.440217,...,0.390805,0.461538,0.478873,0.625,0.296296,0.367347,0.448598,0.227273,0.392405,0.339286
1678,0.352941,0.451613,0.481481,0.583333,0.217143,0.308057,0.330025,0.423729,0.590909,0.380435,...,0.327586,0.589744,0.415493,0.325,0.490741,0.448980,0.411215,0.363636,0.468354,0.404762
1679,0.555147,0.822581,0.500000,0.375000,0.262857,0.687204,0.501241,0.406780,0.863636,0.635870,...,0.597701,0.769231,0.697183,0.850,0.490741,0.571429,0.672897,0.272727,0.607595,0.535714
1680,0.334559,0.258065,0.222222,0.166667,0.468571,0.312796,0.218362,0.169492,0.272727,0.255435,...,0.362069,0.230769,0.338028,0.300,0.370370,0.306122,0.392523,0.318182,0.278481,0.333333
1681,0.393382,0.564516,0.407407,0.250000,0.154286,0.492891,0.362283,0.288136,0.500000,0.440217,...,0.390805,0.461538,0.478873,0.625,0.296296,0.367347,0.448598,0.227273,0.392405,0.339286

In [75]:
# backup
content_vectors.to_csv('content_vector.csv', index=False)


individual check for user

In [50]:
u2=rating[rating['user_id']==4]['movie_id'].values

In [51]:
len(u2)

24

In [70]:
val=content_vectors[content_vectors[4]>(content_vectors[4].max()-0.5)]
val

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
3,1.003676,0.983871,0.888889,0.750000,0.942857,0.924171,0.816377,1.118644,0.954545,0.831522,...,0.971264,1.076923,1.007042,1.075,0.990741,1.040816,1.056075,1.000000,0.898734,1.053571
16,0.941176,0.790323,1.148148,1.166667,1.108571,0.630332,0.841191,1.305085,0.727273,0.695652,...,0.793103,0.974359,0.838028,0.600,1.083333,1.000000,0.897196,1.136364,0.797468,1.113095
20,1.003676,0.677419,0.981481,1.166667,1.154286,0.710900,0.853598,1.423729,0.818182,0.728261,...,0.954023,1.102564,0.838028,0.625,1.185185,1.142857,0.971963,1.454545,0.962025,1.154762
28,0.856618,0.612903,0.740741,0.833333,1.028571,0.601896,0.677419,1.271186,0.590909,0.554348,...,0.775862,0.897436,0.711268,0.575,0.907407,0.938776,0.785047,1.136364,0.645570,1.029762
49,0.841912,0.580645,0.666667,0.958333,0.885714,0.578199,0.739454,1.542373,1.090909,0.581522,...,0.810345,1.076923,0.633803,0.625,0.888889,1.000000,0.869159,1.227273,0.784810,1.005952
73,1.003676,0.983871,0.888889,0.750000,0.942857,0.924171,0.816377,1.118644,0.954545,0.831522,...,0.971264,1.076923,1.007042,1.075,0.990741,1.040816,1.056075,1.000000,0.898734,1.053571
79,0.702206,0.467742,0.574074,0.583333,0.868571,0.530806,0.555831,1.016949,0.681818,0.500000,...,0.666667,0.717949,0.563380,0.550,0.768519,0.734694,0.747664,0.818182,0.632911,0.803571
100,0.680147,0.322581,0.574074,0.791667,0.937143,0.350711,0.647643,1.254237,0.545455,0.347826,...,0.591954,0.692308,0.408451,0.325,0.703704,0.775510,0.560748,1.272727,0.531646,0.815476
109,0.856618,0.516129,0.648148,0.750000,1.057143,0.635071,0.699752,1.305085,0.818182,0.576087,...,0.810345,0.923077,0.654930,0.625,0.925926,0.938776,0.859813,1.136364,0.772152,1.011905
171,1.235294,1.145161,1.074074,1.208333,1.040000,1.071090,1.101737,1.830508,1.590909,1.021739,...,1.201149,1.538462,1.112676,1.250,1.185185,1.367347,1.317757,1.454545,1.177215,1.345238
172,0.926471,0.725806,0.648148,0.791667,1.085714,0.729858,0.736973,1.237288,0.954545,0.663043,...,0.931034,1.128205,0.838028,0.750,1.046296,1.081633,0.943925,1.136364,0.860759,1.119048
180,0.841912,0.580645,0.666667,0.958333,0.885714,0.578199,0.739454,1.542373,1.090909,0.581522,...,0.810345,1.076923,0.633803,0.625,0.888889,1.000000,0.869159,1.227273,0.784810,1.005952
183,0.970588,0.564516,0.796296,0.958333,1.325714,0.616114,0.833747,1.423729,0.818182,0.565217,...,0.919540,0.897436,0.739437,0.600,1.027778,1.061224,0.934579,1.454545,0.759494,1.136905
185,0.658088,0.435484,0.518519,0.541667,0.857143,0.492891,0.518610,0.830508,0.454545,0.467391,...,0.689655,0.615385,0.549296,0.450,0.731481,0.693878,0.672897,0.818182,0.569620,0.738095
200,0.812500,0.500000,0.648148,0.708333,1.137143,0.554502,0.714640,1.135593,0.636364,0.500000,...,0.764368,0.820513,0.640845,0.525,0.888889,0.897959,0.757009,1.090909,0.683544,1.005952
230,0.856618,0.612903,0.740741,0.833333,1.028571,0.601896,0.677419,1.271186,0.590909,0.554348,...,0.775862,0.897436,0.711268,0.575,0.907407,0.938776,0.785047,1.136364,0.645570,1.029762
234,0.860294,0.532258,0.722222,0.833333,1.057143,0.592417,0.674938,1.305085,0.863636,0.565217,...,0.821839,0.794872,0.661972,0.625,0.907407,0.897959,0.925234,1.181818,0.708861,0.934524
256,0.922794,0.532258,0.703704,0.916667,1.165714,0.597156,0.717122,1.406780,0.772727,0.532609,...,0.879310,0.897436,0.718310,0.600,0.990741,1.040816,0.897196,1.454545,0.721519,1.053571
361,0.658088,0.435484,0.518519,0.541667,0.857143,0.492891,0.518610,0.830508,0.454545,0.467391,...,0.689655,0.615385,0.549296,0.450,0.731481,0.693878,0.672897,0.818182,0.569620,0.738095
384,0.926471,0.725806,0.648148,0.791667,1.085714,0.729858,0.736973,1.237288,0.954545,0.663043,...,0.931034,1.128205,0.838028,0.750,1.046296,1.081633,0.943925,1.136364,0.860759,1.119048
397,0.680147,0.338710,0.481481,0.750000,0.862857,0.379147,0.588089,1.288136,0.500000,0.320652,...,0.603448,0.692308,0.408451,0.350,0.722222,0.755102,0.551402,1.227273,0.607595,0.773810
398,0.764706,0.467742,0.555556,0.666667,0.977143,0.535545,0.598015,1.118644,0.590909,0.467391,...,0.724138,0.820513,0.619718,0.525,0.851852,0.877551,0.719626,1.090909,0.645570,0.922619
425,0.852941,0.548387,0.888889,1.125000,0.942857,0.535545,0.769231,1.491525,0.818182,0.576087,...,0.701149,0.897436,0.556338,0.500,0.981481,0.877551,0.785047,1.409091,0.898734,0.875000
559,0.908088,0.709677,0.537037,0.708333,1.131429,0.781991,0.727047,0.915254,0.954545,0.641304,...,0.977011,0.846154,0.774648,0.725,0.981481,0.918367,0.953271,1.136364,0.898734,0.934524
754,0.687500,0.354839,0.481481,0.750000,0.874286,0.393365,0.605459,1.288136,0.500000,0.326087,...,0.626437,0.692308,0.408451,0.350,0.740741,0.775510,0.551402,1.227273,0.632911,0.785714
819,0.632353,0.403226,0.296296,0.333333,0.914286,0.573460,0.501241,0.508475,0.409091,0.418478,...,0.649425,0.487179,0.464789,0.450,0.694444,0.571429,0.570093,0.863636,0.658228,0.619048
992,0.672794,0.403226,0.333333,0.375000,0.971429,0.620853,0.548387,0.508475,0.409091,0.489130,...,0.735632,0.487179,0.485915,0.450,0.712963,0.571429,0.635514,0.909091,0.696203,0.630952
1109,0.816176,0.500000,0.666667,0.791667,1.045714,0.554502,0.637717,1.118644,0.636364,0.532609,...,0.844828,0.692308,0.647887,0.525,0.870370,0.857143,0.850467,1.181818,0.645570,0.869048
1137,1.095588,1.129032,1.074074,0.916667,0.994286,0.990521,0.895782,1.271186,0.954545,0.918478,...,1.022989,1.153846,1.098592,1.125,1.046296,1.102041,1.121495,1.045455,0.898734,1.160714

In [72]:
recomm=[]
for i in val.index:
    if (i in u2):
        pass
    else:
        recomm.append(i)

In [73]:
len(recomm)

28

In [74]:
recomm

[3,
 16,
 20,
 28,
 49,
 73,
 79,
 100,
 109,
 171,
 172,
 180,
 183,
 185,
 200,
 230,
 234,
 256,
 384,
 397,
 398,
 425,
 559,
 754,
 819,
 992,
 1109,
 1137]

In [77]:
def content_based(rating, content_vectors, userid, threshold):
    u2=rating[rating['user_id']==userid]['movie_id']
    val=content_vectors[content_vectors[userid]>(content_vectors[userid].max()-threshold)][2]
    recomm=[]
    for i in val.index:
        if (i in u2):
            pass
        else:
            recomm.append(i)
    return recomm

In [80]:
content_based(rating, content_vectors, 56, 0.3)

[3,
 16,
 20,
 28,
 73,
 109,
 163,
 171,
 172,
 183,
 200,
 230,
 234,
 251,
 256,
 336,
 357,
 384,
 398,
 425,
 559,
 635,
 830,
 854,
 1109,
 1137]